.c_outer{
    margin-top: 10px;
    display: flex;
    border: 5px solid brown;
    width: auto;
    height: auto;
    justify-content: space-between;
}

.content{
    display: flex;
}

.circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid red;
}

